@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
  box-sizing:border-box;
  font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	text-align: center;
}
p{
  font-size: 15px;
  white-space: pre-line;}
h4{
    text-align: center;
}h3{
  margin: .5em 0;
}
body{
  margin:0;
  background-color:#ffffff;
}
.bangla{
  font-size:2.5em;}
#logo-img{
  display:block;
  margin:0 auto;
  width:250px;
  margin-top:10px;
}
#logo{
  margin:0;
}
#slogaan{
  display:block;
  text-align:center;
  margin-top:2px;
  color:#89968a;
  font-size:1.3em;
}
#nav-bar{
  display:flex;
  border: 1px solid #8fdd3c;
  justify-content:space-between;
  max-width: 1150px;
  margin:0 auto;
  padding:0px;
  width:50%;
  border-radius: 1px;
  box-shadow:  0px 1px 2px #395818;
}

.nav-item{
  background-color:#8fdd3c;
  color:#89968a;
 font-weight:900;
  padding:5px 5px;
  flex-grow:1;
  flex-shrink:1;
  text-align: center;
}
.input-search{
  height:100%;
  padding:0;
    margin:0;
  background-color:#8fdd3c;
  border:none;
  width:100%;
   font-weight:900;
  color:black;
  font-size:14px;
}
#s{
  height:100%;
 padding:4px;
}
#nav-bar a{
  text-decoration:none;
  color:Black;
  opacity:.6;
}
input[type="search"]{
  opacity:0.6;
}
///////////////////MAIN///////////////////////////

.book-download a{
  display: block;
}
.book-download{
    text-align:center;
    display:flex;
    flex-direction:column;
}


main {
  width:50%;
  margin:0 auto;
  max-width: ;
  margin-top: 0px;
  display: flex;
  justify-content:start;
 
}

.book-down-name{
    
}
.book-overview {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left:40px ;
}
.book-overview h4{
  display: inline;

}
span{
  display: inline;
}
.book-description {
  color: black;
  text-align: justify;
  width: 100%;
  white-space: pre-wrap;
  
}













.book-section{
  width:60%;
  display:flex;
 margin:0 auto;
  align-text:center;
  flex-direction:column;
  margin-top:60px;
  }
  .book-h2{
    display:block;
    text-align:center;
    height:1em;
    line-height:1;
    margin:0;
    }
  .book-h2::before ,.book-h2::after{
    content:'o--';
   
   color:black;
    height:10px;
   
  
  }
  .book-h2::after{
    content:'--o';
   
   color:black;
    height:10px;
   
  
  }
  .book-section h2{
    color:#395818;
  }
  .book-row{
    display:flex;
    flex-direction:row;
    align-items:space-between;
    width:100%;
   padding: 10px 0;
    height:336px;
    margin:5px 0;
    }
  .book-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:33.333%;
    justify-content:flex-start;
    padding:10px 0px;
    height:100%;
  }
  .book-img:hover{
    box-shadow:0 0 10px 2px rgba(0,0,0,.4);
    transition: spread 5s;
    border-radius:1px;
  }
  .book-img{
    width:150px;
  height: auto;
    max-height:227.067px;
    margin-top:5px;}
  .author-div{
    display:flex;
   }
   .book-down-img{
       width: 200px;
       margin-top: 25px;
       box-shadow:  0px 1px 2px black ;
   }
  .author-name{
    margin:0 3px;
     font-size:em;
    color:#5c5c5c;
    }
  .book-name{
    margin:5px auto;
    font-size:1.2em;
    color:#f12719;
  }
  .book-down-name {
    margin-bottom: .5em;
  }
  .btn-download{
    background-color: #89c747;
   

    color:white;
    display: block;
    width: 200px;
    border-radius: 1px;
    padding: 12px 10px;
    text-shadow: 0px 0px 1px #395818;
    font-weight:600;
    box-shadow:  0px 1px 2px #558027 ;
    margin-top: 20px;
    line-height: 1.375rem;
letter-spacing: .03125rem;
  }
  .btn-download:hover{

    background-color:rgb(106, 158, 50)  ;
   
  }
  .btn-download:active {
    position: relative;
    top:1px;
  }
  /*Footer ///////////////////////////////////        */
footer{
  width: 100%;
  background-color: #e7e6e6;
  margin-top: 60px;
}
#footer-main {
  display: flex;
  width: 55%;
  border-top:solid 2px rgb(163, 163, 163);
  margin: 0 auto;
  padding-top: 40px;
  margin-top: px;
  color: black;

}
#footer-main a{
  color: dimgray;
}

#footer-logo {
  width: 50%;
}

#footer-here {
  margin-left: auto;
}

#footer-main p {
  white-space: normal;
  font-size: 14px;
}

#footer-logo-img {
  margin: 0 auto;
  margin-bottom: -2px;
  width: 60%;
}

#footer-logo {
  text-align: ;
}

#footer-main p {
  margin: 0;
  color: slategrey;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0;
}

#footer-here {
  width: 12%;
  text-align: inherit;
}

#footer-and-here {
  width: 12%;
}

#footer-here h3 {
  margin: 0 0;
  text-align: inherit;
  font-size: 17px;
}

#footer-and-here h3 {
  margin: 0 0;
  text-align: left;
  font-size: 17px;
}

#footer-here a {
  color: dimgray;
  font-size: 14px;
}
#footer-and-here a{
  color: dimgray;
  font-size: 14px;
}
#lower-footer{
  margin:0 auto;
color: dimgray;
font-size: 13px;
padding: 10px;
width: 55%;
display: flex;
justify-content: start;
}
#terms{
  padding: 0 15px;
  margin-left: auto;
  color: dimgray;
}
#terms a, #privacy a{
  color: dimgray;
  text-decoration: underline;
}